@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

.stream-wrapper { width: 95%;  height: 100%; margin:0 }
.h_iframe { position: relative; padding-top: 56.25%;}
.h_iframe iframe { position: absolute; top: 0; left: 0; width:100%; height: 100%;}
.stream-header {
  @extend .h3;
  margin-top: 0;
}
