
<div class="row">
      <div class="col-md-4">
       <div class="thumbnail">

<div class="container-channel">
          <img height="106px" width="190px" ng-src="{{channel.previewUrl}}" alt="{{channel.name}}" ng-click="selectChannel(channel)">
              <input class="checkbox-channel" type="checkbox" ng-model="channel.selected">
</div>
         <div class="caption">
            <div>{{channel.displayName}}</div>
            <div style="white-space: nowrap; overflow-x: hidden ">{{channel.status}}</div>
            <div>{{channel.viewers}}</div>
          </div>
     </div>
  </div>
</div>
